chatapp_flows.json
[
    {
        "id": "b90e30ee609b3c1a",
        "type": "inject",
        "z": "26481dd61e588ab3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "What is IBM? Describe it in 10 words.",
        "payloadType": "str",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "73c6834ab6e89f3b"
            ]
        ]
    },
    {
        "id": "73c6834ab6e89f3b",
        "type": "function",
        "z": "26481dd61e588ab3",
        "name": "post data",
        "func": "msg.payload = {\n    \"messages\": [\n        {\n            \"role\": \"user\",\n            \"content\": msg.payload\n        }\n    ],\n    \"model\": \"ibm/granite4.0-preview:tiny\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "118d9075769c32ef"
            ]
        ]
    },
    {
        "id": "118d9075769c32ef",
        "type": "http request",
        "z": "26481dd61e588ab3",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:11434/v1/chat/completions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "8451dc8aca146f4c",
                "41e287cbc20a713f"
            ]
        ]
    },
    {
        "id": "8451dc8aca146f4c",
        "type": "debug",
        "z": "26481dd61e588ab3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "ea16359b3ac9a361",
        "type": "ui-text-input",
        "z": "26481dd61e588ab3",
        "group": "3d32862d26114828",
        "name": "",
        "label": "text",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "text",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "9041e6065ccd41eb",
                "73c6834ab6e89f3b"
            ]
        ]
    },
    {
        "id": "9041e6065ccd41eb",
        "type": "function",
        "z": "26481dd61e588ab3",
        "name": "user comment",
        "func": "var tmp = flow.get('data') || [];\ntmp.push(\n    {\n        image: \"https://nodered.jp/images/yokoi.jpg\",\n        message: msg.payload\n    }\n);\nflow.set('data', tmp);\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 380,
        "wires": [
            [
                "d2209329a6cf902a"
            ]
        ]
    },
    {
        "id": "d2209329a6cf902a",
        "type": "ui-template",
        "z": "26481dd61e588ab3",
        "group": "3d32862d26114828",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <v-timeline class=\"overflow-y-auto\" style=\"max-height:400px\">\n    <v-timeline-item v-for=\"item in msg.payload\">\n      <template v-slot:icon>\n        <v-avatar v-bind:image=\"item.image\"></v-avatar>\n      </template>\n      <v-alert>{{item.message}}</v-alert>\n    </v-timeline-item>\n  </v-timeline>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "41e287cbc20a713f",
        "type": "function",
        "z": "26481dd61e588ab3",
        "name": "ai comment",
        "func": "var tmp = flow.get('data') || [];\ntmp.push(\n    {\n        image: \"https://2.bp.blogspot.com/-H2eLSLfzvpA/XGjx1UapC6I/AAAAAAABRcA/5Xdh-W7tqk8X1YONndv2B1ykhJ6BRS1bgCLcBGAs/s800/ai_computer_sousa_robot.png\",\n        message: msg.payload.choices[0].message.content\n    }\n);\nflow.set('data', tmp);\nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "d2209329a6cf902a"
            ]
        ]
    },
    {
        "id": "3d32862d26114828",
        "type": "ui-group",
        "name": "Group 1",
        "page": "eb3c7f796971548c",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "eb3c7f796971548c",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "081a52f76b488568",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "46c57e19fbab82b1",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "081a52f76b488568",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "46c57e19fbab82b1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4face1e74f304c0c",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.28.0"
        }
    }
]